* {
    margin: 0;
}

.home-page {
    width: 1440px;
    box-sizing: border-box;
    margin: auto;
}


/* Header */
header {
    display: flex;
    font-family: sans-serif;
    background: black;
    z-index: 9999;
    width: 100%;
    padding: px;
}

/* .logo,
.search-bar,
.nav-bar {
} */

/*Logo*/


.logo img {
    width: 20px;
    height: 20px;
}

/* search-bar */
#search-bar {
    background: #EFECEC;
    border-radius: 20px;
    border: none;
    padding: 3px;
}

/* nav-bar */
ul li {
    list-style: none;
    float: left;
}

li a {
    color: white;
    text-decoration: none;
    margin: 0 0 0 30px;
}

.cart-notifi-user {
    position: relative;
    right: 72px;
    left: 300px;
    top: 12px;
}